<footer class="bg-dark footer">
    <div class="container">
            <div class="float-left">
                <a href="javascript:()" class="text-light mx-3">About</a>
                <a href="javascript:()" class="text-light mx-3">Privacy Policy</a>
                <a href="javascript:()" class="text-light mx-3">Contact</a>
            </div>
            <div class="float-right  text-light mx-3">
                <span>&copy; <script>document.write((new Date().getFullYear() == 2017)?'2017 ':'2017 - '+ new Date().getFullYear()+' ')</script> All Rights Reserved.</span>
            </div>
    </div>
</footer>