<footer class="bg-muted footer">
    <div class="container">
        <div class="row">
            <a href="//home" class="text-secondary col-lg-2 offset-lg-1">Home</a>
            <a href="javascript:()" class="text-secondary col-lg-2 offset-lg-1">About</a>
            <a href="javascript:()" class="text-secondary col-lg-2 offset-lg-1">Privacy Policy</a>
            <a href="javascript:()" class="text-secondary col-lg-2 offset-lg-1">Contact</a>
        </div>
    </div>
</footer>