<footer class="bg-muted footer">
    <div class="container">
            <div class="float-left text-secondary">
                <a href="javascript:()" class="mx-3">About</a>
                <a href="javascript:()" class="mx-3">Privacy Policy</a>
                <a href="javascript:()" class="mx-3">Contact</a>
            </div>
            <div class="float-right text-secondary mx-3">
                <span>&copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved.</span>
            </div>
    </div>
</footer>