<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    {{>navbar}}

    <!-- complaints -->
    <div class="container mb-5 ">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="row border border-top-0 border-left-0 border-right-0">
                            <div class="col-lg-6">
                                <p id="c_head" class="text-capitalize lead"></p>
                            </div>
                            <div class="col-lg-6 text-right">
                                <p class="font-weight-bold">Registered :
                                    <span id="c_posted_on" class="font-weight-normal"></span>
                                </p>
                            </div>
                        </div>

                        <div id="status_steps_div" class="container my-5 d-none">

                            <div class="row bs-wizard" style="border-bottom:0;">

                                <div class="col-xs-3 bs-wizard-step complete">
                                    <div class="text-center bs-wizard-stepnum">Registered</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="javascript:()" class="bs-wizard-dot"></a>
                                </div>

                                <div class="col-xs-3 bs-wizard-step ">
                                    <div class="text-center bs-wizard-stepnum">Under Consideration</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="javascript:()" class="bs-wizard-dot"></a>
                                </div>

                                <div class="col-xs-3 bs-wizard-step ">
                                    <div class="text-center bs-wizard-stepnum">Replied</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                    <a href="javascript:()" class="bs-wizard-dot"></a>
                                </div>
                            </div>

                        </div>
                        <div id="action_div" class="row d-none">
                            <div class="col-lg-8 offset-lg-2 mt-3 mb-5">
                                <form class="text-center">
                                    <div class="form-group mx-sm-3">
                                        <label class="control-label" for="c_new_status">Mark as :&nbsp;&nbsp;</label>
                                        <select class="form-control" onchange="onStatusChange()" id="c_new_status">
                                            <option selected disabled>Select Action</option>
                                            <option value="Under Consideration">Under Consideration</option>
                                            <option value="Replied">Replied</option>
                                        </select>
                                    </div>
                                    <div id="c_remarks_div" class="d-none form-group mx-sm-3">
                                        <label class="control-label" for="c_remarks">Comments :&nbsp;&nbsp;</label>
                                        <textarea id="c_remarks" class="form-control"></textarea>
                                    </div>
                                    <button onclick="javascript:changeStatus()" class="btn btn-success text-light btn-rounded px-4">Save</button>
                                </form>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="font-weight-bold">Complainant :
                                    <span id="c_complainant" class="font-weight-normal"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row d-none">
                            <div class="col-lg-12">
                                <p class="font-weight-bold">Official :
                                    <span id="c_official" class="font-weight-normal"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="font-weight-bold">Type :
                                    <span id="c_type" class="font-weight-normal"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="font-weight-bold">Location :
                                    <span class="font-weight-normal" id="c_location"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="font-weight-bold">Relevant Para/Clause :
                                    <span class="font-weight-normal" id="c_para"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="font-weight-bold">Description :
                                    <br/>
                                    <span class="font-weight-normal" id="c_desc"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="../home" class="btn btn-primary col-lg-3 mt-3 offset-lg-5 btn-rounded px-4">Go Back</a>

            </div>
            <div class="col-lg-4 mx-auto d-none" id="trail_card">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="row border border-top-0 border-left-0 border-right-0">
                                <p id="c_trail_head" class="col-lg-12 text-capitalize lead">Trail</p>
                        </div>
                        <div class="trail" id="trail_list">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- complaints end -->

    {{>js_scripts}}
</body>

</html>