<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <!-- froala-editor -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/css/froala_editor.min.css' rel='stylesheet' type='text/css'
    />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/css/froala_style.min.css' rel='stylesheet' type='text/css'
    />
</head>

<body>

    {{>navbar}}

    <!-- editor -->
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-10 mx-auto mb-5">
                {{!-- <div class="row"> --}}
                    <p class="h4 mb-4">Links of Relevant Para's &amp; Sections</p>
                    <textarea id="relevantPara"></textarea>
                    <div class="row mt-4">
                    <button class="mx-auto btn btn-rounded btn-primary" onclick="saveRelevantPara()">Save</button>

                    </div>
                {{!-- </div> --}}
            </div>
        </div>
    </div>
    <!-- editor end -->

    {{>footer}} {{>js_scripts}}

    <!-- froala-editor -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.2/js/froala_editor.min.js'></script>
</body>

</html>