<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}
    <div class="container d-none">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-5 mx-auto">
                <div class="card mt-5">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <p class="lead text-center">Reset Password</p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" disabled>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Min. 6 chars Password">
                            </div>
                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Repeat above entered Password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-rounded btn btn-primary form-control">Submit</button>
                            </div>
                            <div class="form-group">
                                <p class="text-center text-secondary">
                                    <small>Have a Password ?
                                        <a href="./login">Log In</a>
                                    </small>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
    <script>var resetToken = '{{resetToken}}';</script>
    {{> js_scripts}}
</body>

</html>