<!DOCTYPE html>
<html lang="en">
<head>
     {{>head}}
</head>
<body>

     {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-5 mx-auto">
                <div class="card mt-5">
                    <div class="card-body">
                            <div class="form-group">
                                <p class="lead text-center">Sign Up</p>
                            </div>
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                <input type="text" class="form-control" id="fullName" placeholder="Enter your Name">
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email address</label>
                                <input type="email" class="form-control" id="emailAddress" placeholder="Enter your email.">
                            </div>
                            <div class="form-group">
                                <label for="mobileNumber">Mobile Number</label>
                                <input type="number" class="form-control" id="mobileNumber" aria-describedby="mobHelp" placeholder="Enter your Mobile Number">
                                <small id="mobHelp" class="form-text text-muted">OTP would be sent to this number on next page.</small>
                            </div>
                            <div class="form-group">
                                <label for="aadharNumber">Aadhar Number</label>
                                <input type="email" class="form-control" id="aadharNumber" placeholder="Enter your Aadhar Number.">
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" id="password" placeholder="Password (Min 6 Chars)">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <button role="button" class="btn btn-rounded btn-success form-control" onclick="javascript:registerUser()">Submit</button>
                            </div>
                            <div class="form-group">
                                <p class="text-center text-secondary"><small>Already have an account ? <a href="./login">Log In</a></small></p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {{>js_scripts}}
</body>
</html>
