<!doctype html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    {{>navbar}}

    <main role="main" class="container">

        <div class="main-div">
            <h1>Statistics</h1>
        </div>
    </main>
    <!-- /.container -->

    <div class="row mx-0">
        <canvas id="stat_1"></canvas>
        <canvas id="stat_2"></canvas>
    </div>
    <div class="row pb-5">
        <div class="col-lg-2 offset-lg-5">
            <a role="button" class="btn btn-primary btn-rounded" href="./home">Show Details</a>
        </div>
    </div>
    {{>footer}}
    {{>js_scripts}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script>
        function random_num() {
            return Math.floor((Math.random() * 100) + 1);
        }
    </script>
</body>

</html>